.vs
IniFileTool
cruft
/WinlinkRadioSwitcher/micIcon.png
/WinlinkRadioSwitcher/obj/Release/WinlinkRadioSwitcher.exe
/WinlinkRadioSwitcher/obj/Release/WinlinkRadioSwitcher.pdb
/WinlinkRadioSwitcher/bin/Release/WinlinkRadioSwitcher.exe
/WinlinkRadioSwitcher/bin/Release/WinlinkRadioSwitcher.pdb
